body{
	background-color: #1E1E1E;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 300;
}
a{
	color: #97b749;
	text-decoration: none;
}
a:hover{
	color: #49B78F;
	transition: color .5s;
}
/***************** SVG Drawing ******************/
#svg-container{
	width: auto;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}
.arc path {
  stroke: #FFF;
  stroke-width: 0px;
  cursor: pointer;
}
.arc-label{
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	fill: #222;
}
.arc-label.inactive{
	fill: #999;
}
.node:hover{
	stroke-width: 8px;
	cursor: pointer;
}
#node-tooltip{
	display: none;
}
#node-tooltip > rect{
	fill: rgba(0,0,0,0.8);
}
#node-tooltip > text{
	fill: white;
}

/***************** Text ******************/
#sidetext{
	float: left;
	width: calc(100% - 870px);
	color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    height: 800px;
    overflow-y: visible;
}
#sidetext > h1{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 5px;
  color: #97b749;
  font-size: 2.5em;
}
#sidetext h1.project{
	font-weight: bold;
}
.replacement-text{
	display: none;
}
.pretitle{
  color: #CCC;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  clear: right;
  display: block;	
}
.node-people > .pretitle,
.project > .pretitle{
	text-transform: none;
}
.node-title > .pretitle{
	font-size: .8em;
}
.node-summary .journal{
	text-transform: capitalize;
}
.project.terms{
	font-weight: bold;
}
.product.node-summary,
.product.node-years{
	display: inline;
}
p.smaller {
	color: #CCCCCC;
	font-size: .8em;
}
p.small{
	font-size: .9em;
	line-height: 1.4em;
}
ul.small{
	font-size: .9em;
	line-height: 1.4em;
}
.important{
	line-height: 1.3em;
}
.important > img{
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
	width: 90px;
	height: auto;
}
h4.title{
  margin-bottom: 5px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 90;
}
h1.project {
	font-size: 20px;
}	
a.more-link{
	display: inline-block;
	width: auto;
	border: 1px solid #97b749;
	padding: 8px;
	font-size: .9em;
	text-decoration: none;
	margin-top: 20px;
}
a.more-link:hover{
	border-color: #49B78F;
}
a.more-link > .icon{
	margin-left: 5px;
}

/***************** Smaller Windows ******************/
@media all and (max-width: 1150px){
	#sidetext{
		float: none;
		width: auto;
		clear: both;
		padding: 40px;
		margin-top: 20px;
	}
	#sidetext h1{
		text-align: center;
	}
	#svg-container{
		float: none;
		width: 850px;
		margin-left: auto;
		margin-right: auto;
	}
}
