body{
	background-color: #1E1E1E;
}

/***************** SVG Drawing ******************/
#svg-container{
	width: auto;
	float: left;
	margin-right: 20px;
}
.arc path {
  stroke: #FFF;
  stroke-width: 0px;
  cursor: pointer;
}
.arc-label{
	font-size: 16px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
	fill: #222;
}
.arc-label.inactive{
	fill: #999;
}
.node:hover{
	stroke-width: 8px;
	cursor: pointer;
}
#node-tooltip{
	display: none;
}
#node-tooltip > rect{
	fill: rgba(0,0,0,0.8);
}
#node-tooltip > text{
	fill: white;
}

/***************** Text ******************/
#sidetext{
	float: left;
	width: calc(100% - 850px);
	color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    height: 800px;
    overflow-y: visible;
}
#sidetext > h1{
	font-weight: lighter;
}
#sidetext h1.project{
	font-weight: bold;
}
.replacement-text{
	display: none;
}
.pretitle{
  color: #CCC;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: .8em;
  clear: right;
  display: block;	
}
.node-people > .pretitle{
	text-transform: none;
}
.node-summary .journal{
	text-transform: capitalize;
}
.product.node-summary,
.product.node-years{
	display: inline;
}
p.smaller {
	font-family:sans-serif;
	color: white;
	max-width: 600px;
	min-width: 380px;
	font-size: 13px;
}
h1.project {
	font-size: 20px;
}	
a {
	color: #00D1FF;
}
